*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0;
}
.albumes{
    article{
        display: flex;
        a{
            color: black;
            text-decoration: none;
            transition: all 0.5s;
            padding: 10px;
            margin: 2px;
        }
        .hmhas:hover{
            color: blue;
        }
        .hte:hover{
            color: gold;
        }
        a:hover{
            color: black;
        }
    }
}
main{
    background-color: white;
    flex-grow: 1;
}
nav{
    background-color: chocolate ;
    text-align: right;
    padding: 20px;
    ul{
        display: inline-flex;
        list-style-type: none;
        margin: 0;
        li{
            padding: 20px;
            color: white;
            a{
                text-decoration: none;
                color: white;
                transition: all 0.5s;
            }
            a:hover{
                color: black;
                background-color: white;
                padding: 10px;
                font-weight: bold;
            }
        }
    }
}
.inicio{
    padding: 10px;
    h1{
        text-align: center;
    }
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: -10px;
    article{
        display: flex;
        a{
            text-decoration: none;
            transition: all 0.8s;
            padding: 10px;
            color: white;
            border-radius: 10px;
            font-weight: bolder;
        }
        .face:hover{
            color: blue;
            background-color: white;
            font-weight: bolder;
        }
        .ig:hover{
            color: rgb(255, 57, 156);
            background-color: white;
            font-weight: bolder;
        }
        .tt:hover   {
            color: black;
            background-color: white;
            font-weight: bolder;
        }
    }
    .derechos{
        margin: 0;
        text-align: center;
        background-color: black;
        color: white;
        padding: 11px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;  
        font-size: small;  
    }    
}