*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(/assets/GENERAL/img/fondo\ general.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(20, 97, 161);
    display: flex;
    nav{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        .icono{
            margin: 2vh;
            a{
                img{
                    width: 10vh;
                    transition: all 0.8s;
                }
                img:hover{
                    scale: 1.3;
                }
            }
        }
        button{
            padding: 0;
            display: none;
            width: 100%;
            border: 0;
            background-color: rgba(0, 0, 0, 0);
            color: white;
            i{
                scale: 3;
                margin: 1vh;
                padding: 3vh;
            }
        }
        ul{
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: end;
            .btnCerrar{
                display: none;
                width: 100%;
                color: white;
                background-color: rgba(0, 0, 0, 0);
                    i{
                    scale: 1;
                    margin: 1vh;
                    padding: 1vh;
                    }       
                }
                li{
                margin: 2vh;
                list-style-type: none;
                a{
                    padding: 1vh;
                    text-decoration: none;
                    color: rgb(209, 209, 209);
                    font-size: 2.5vh;
                    transition: all 0.5s;
                }
                a:hover{
                    color: white;
                }
            }
        }
    }
}
main{
    flex: 1;
    .inicio{
        background-color: rgba(255, 255, 255, 0.8);
        h2{
            text-align: center;
            padding: 1vh;
            font-size: 8vw;
        }   
        p{
            font-size: 2.5vw;
            padding: 2vh;
            margin: 0;
        }
    }
    .albumes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 1vh;
            margin: 0;
            font-size: 8vw;
        }
        .carrusel{
            display: flex;
            justify-content: center;
            .carousel{
                width: 70%;
                padding: 3vh 0vh 2vh 0vh;
                transition: all 0.8s;
                .carousel-item{
                    h3{
                        font-size: 6vh;
                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
            .carousel:hover{
                scale: 1.02;
            }
        }
        .albumes-ocultos{
            display: none;
        }
    }
}
footer{
    padding: 0;
    background-color: black;
    color: rgb(196, 196, 196);
    .info-footer{
        h2{
            margin: 1vw;
            padding: 1vw;
            font-size: 2.5vw;
        }
        .redes{
            ul{
                display: flex;
                padding: 1vh;
                margin: 0;
                li{
                    list-style-type: none;
                    margin: 1vh 3vh 1vh 3vh;
                    a{
                        text-decoration: none;
                        color: rgb(196, 196, 196);
                        transition: all 0.5s;
                        padding: 1vh;
                        i{
                            scale: 2;
                        }
                    }
                    .face:hover{
                        color: blue;
                    }
                    .ig:hover{
                        color: deeppink;
                    }
                    .tt:hover{
                        color: darkslategray;
                    }
                }
            }
        }
        .wsp{
            p{
                font-size: 2vh;
                padding: 2vh;
                margin: 0;
                flex-wrap: wrap;
                a{
                    text-decoration: none;
                    color: rgb(196, 196, 196);
                    transition: all 0.5s;
                    padding: 2vh;
                    transition: all 0.5s;
                    i{
                        scale: 2;
                    }
                }
                a:hover{
                    color: green;
                }
            }
        }
    }
    .derechos{
        width: 100%;
        margin: 0;
        padding: 0;
        position: sticky;
        text-align: center;
        font-size: small;
        a{
            text-decoration: none;
            color: rgb(196, 196, 196);
        }
        a:hover{
            text-decoration: underline;
            color: white;
        }
    }
}
@media (max-width:1200px) {
    header{
        nav{
            .navbar{
                ul{
                    li{
                        a{
                            font-size: 2.2vw;
                        }
                    }
                }
            }
        }
    }
    main{
        .inicio{
            p{
                font-size: 4vw;
            }
        }
    }
    footer{
        .info-footer{
            .wsp{
                p{
                    font-size: 2vw;
                }
            }
        }
    }
}
@media (max-width:767px) {
    body{
        background-image: url(/assets/GENERAL/img/fondo\ general\ cel.jpg);
    }
    header{
        nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            ul{
                display: none;
            }
            button{
                display: block;
            }
        }
    }
    main{
        .inicio{
            h2{
                font-size: 15vw;
            }
            p{
                font-size: 6vw;
            }
        }
        .albumes{
            h2{
                font-size: 15vw;
            }
            .carrusel{
                display: none;
            }
            .albumes-ocultos{
                display: block;
                div{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    button{
                        width: 100%;
                        background-color: black;
                        color: white;
                        padding: 1vh;
                        border: 0;
                    }
                }
                .albums{
                    display: flex;
                    flex-direction: column;
                    div{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        a{
                            margin: 1vh;
                            img{
                                width: 50vw;
                                transition: all 0.6s;
                            }
                            img:hover{
                                scale: 1.05;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        .info-footer{
            h2{
                font-size: 10vw;
                flex-wrap: wrap;
            }
            .redes{
                ul{
                    justify-content: center;
                    li{
                        margin: 1vh 5vh 1vh 5vh;
                    }
                }
            }
            .wsp{
                p{
                    flex-wrap: wrap;
                    font-size: 5vw;
                    a{
                        i{
                            scale: 1.4;
                        }
                    }
                }
            }
        }
    }
    .ocultar{
        display: none;
    }
    .visible{
        display: block;
        opacity: 1;
        visibility: visible;
    }
}