*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    padding: 2%;
    justify-content: end;
    background-color: chocolate ;
    border-bottom: solid 1px black;
}
body{
    min-height: 100vh;
    background-image: url(/assets/FONDOS/fondo\ general.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0;
}
.albumes{
    .carrusel{
        margin: 5vh;
        .album{
            h5{
                width: 100%;
                margin: 0;
                text-align: center;
                a{
                    padding: 1vh;
                    -webkit-text-stroke: 2px black;
                    color: white;
                    text-decoration: none;
                    font-size: 4rem;
                }
            }
        }
    }
        h2{
            flex-wrap: wrap;
            background-color: white;
            padding: 1rem;
            text-align: center;
            font-size: 5rem;
        }
}
.btn-albumes{

}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
}
nav{
    padding: 0;
    margin: 0;
    ul{
        display: flex;
        padding: 0;
        margin: 0;
        li{
            list-style-type: none;
            padding: 10px;
            color: white;
            a{
                text-decoration: none;
                color: white;
                transition: all 0.5s;
            }
            a:hover{
                color: black;
                background-color: white;
                padding: 1vh;
                font-weight: bold;
                border-radius: 10px;
            }
        }
    }
}
.inicio{
    background-color: white;
    padding: 2%;
    h1{
        text-align: center;
        font-size: 6rem;
    }
    p{
        flex-wrap: wrap;
    }
}
footer{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    h3{
        font-size: 2rem;
        padding: 2%;
        margin: 0;
    }
    section{
        display: flex;
        justify-content: space-between;
            .rs{
            display: flex;
            padding: 0;
            margin: 0;
            article{
                display: flex;
                padding: 1vh;
                margin: 1vh;
                width: 20vh;
                a{
                    justify-content: center;
                    width: 100%;
                    display: flex;
                    margin: 5%;
                    padding: 5%;
                    text-decoration: none;
                    transition: all 0.8s;
                    color: white;
                    border-radius: 10px;
                    font-weight: bolder;
                    i{
                        padding: 4%;
                    }
                }
                .face:hover{
                    color: blue;
                        background-color: white;
                        font-weight: bolder;
                    }
                    .ig:hover{
                        color: rgb(255, 57, 156);
                        background-color: white;
                        font-weight: bolder;
                    }
                    .tt:hover{
                        color: black;
                        background-color: white;
                        font-weight: bolder;
                    }
                }
            }
        .btmd{
            display: flex;
            justify-content:center;
            align-items: center;
                button{
                    border: solid 1px white;
                    padding: 1%;
                    height: 5vh;
                    width: 25vh;
                    background-color: black;
                    color: white;
                    transition: all 0.5s;
                    }
                    button:hover{
                        background-color: white;
                        color: black;
                        border: solid 2px black;
                    }
            }
        }
        .derechos{
        margin: 0;
        text-align: center;
        background-color: black;
        color: white;
        padding: 1px;
        width: 100%;
        font-size: small; 
        position:sticky;
        z-index: 1;
    }    
}
@media (max-width:800px){
    .albumes{
        .carrusel{
            .album{
                h5{
                    a{
                        color: white;
                        font-size: 3rem;
                    }
                }
            }
        }
        h2{
            font-size: 3rem;
        }
    }
    footer{
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .rs{
                display: flex;
                flex-direction: column;
                margin: 0;
                article{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .albumes{
        .carrusel{
            .album{
                h5{
                    display: none;
                }
            }
        }
        .btn-albumes{
            button{
                display: inline-flex;
                flex-wrap: wrap;
            }
        }
    }
  }
@media (max-width:450px) {
    header{
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        nav{
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }
    }
    .inicio{
        h1{
            font-size:4rem;
        }
    }
}
.modoOscuro{
    color: white;
    header{
            background-color: dimgray;
        }
    .albumes{
        h2{
            background-color: gray;
        }
    }
    .inicio{
        background-color: gray;
    }
    .albumes{
        .album{
            h5{
                font-size: 2rem;
            }
        }
    }
}