*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
body{
    min-height: 100vh;
    background-image: url(/assets/FONDOS/fondo\ general.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0;
}
.albumes{
        h2{
            background-color: white;
            opacity: 0.8;
            padding: 1rem;
            text-align: center;
            font-size: 5rem;
        }
    .carrusel{
        margin: 5vh 25vh 5vh 25vh;
    }
}
main{
    display: flex;
    flex-direction: column;
    .album{
        h5{
            padding: 3%;
            margin: 0;
            a{
                -webkit-text-stroke: 1px white;
                color: black;
                text-decoration: none;
                font-size: 2rem;
            }
        }
    }
}
nav{
    background-color: chocolate ;
    text-align: right;
    padding: 2%;
    ul{
        display: inline-flex;
        list-style-type: none;
        margin: 0;
        li{
            padding: 5vh;
            color: white;
            a{
                text-decoration: none;
                color: white;
                transition: all 0.5s;
            }
            a:hover{
                color: black;
                background-color: white;
                padding: 2vh;
                font-weight: bold;
                border-radius: 1rem;
            }
        }
    }
}
.inicio{
    background-color: white;
    opacity: 0.8;
    padding: 2%;
    h1{
        text-align: center;
        font-size: 6rem;
    }
}
footer{
    background-color: black;
    color: white;
    padding: 5%;
    margin: 0;
    h3{
        font-size: 2rem;
        padding: 2%;
        margin: 0;
    }
    section{
        display: flex;
        padding: 1%;
        margin: 1%;
        article{
            display: flex;
            padding: 1%;
            margin: 1%;
            a{
                display: flex;
                margin: 1%;
                text-decoration: none;
                transition: all 0.8s;
                padding: 1%;
                color: white;
                border-radius: 10px;
                font-weight: bolder;
            }
            .face:hover{
                    color: blue;
                    background-color: white;
                    font-weight: bolder;
                }
            .ig:hover{
                color: rgb(255, 57, 156);
                background-color: white;
                font-weight: bolder;
            }
            .tt:hover{
                color: black;
                background-color: white;
                font-weight: bolder;
                }
            }
        }
    .derechos{
        margin: 0;
        text-align: center;
        background-color: black;
        color: white;
        padding: 1%;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;  
        font-size: small;  
    }    
}