<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/hmhas/style.css">
    <link rel="shortcut icon" href="/assets/HIT ME HARD AND SOFT/img/hmhas icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>HIT ME HARD AND SOFT</title>
</head>

<body>
    <header>
        <h1>HIT ME HARD AND SOFT</h1>
    </header>
    <main>
        <ul>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>SKINNY</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/SKINNY - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=g6YSdMnCOCU"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar1" class="mostrar">Significado</a>
                            <div id="meaning1" class="meaning" style="display: none;">
                                "Skinny" es una canción sobre la dismorfia corporal y la presión de los estándares de belleza. Billie Eilish habla sobre cómo se siente con su cuerpo y cómo la ven los demás. La canción también trata sobre la fama y cómo puede afectar la salud mental, es una canción sobre la importancia de la autoaceptación. Billie Eilish nos recuerda que todos somos diferentes y que debemos amarnos a nosotros mismos tal como somos.                            
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>LUNCH</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/LUNCH - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=MB3VkzPdgLA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar2" class="mostrar">Significado</a>
                            <div id="meaning2" class="meaning" style="display: none;">
                                "Lunch" es una canción sobre el deseo y la atracción, utilizando metáforas culinarias para expresar la intensidad de estos sentimientos. Billie Eilish canta sobre una persona que la atrae tanto que siente que "podría comérsela". La canción explora la naturaleza carnal y a menudo obsesiva del deseo, utilizando imágenes vívidas y sensuales.
                            </div>
                        </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>CHIHIRO</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/CHIHIRO - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=BY_XwvKogC8"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar3" class="mostrar">Significado</a>
                            <div id="meaning3" class="meaning" style="display: none;">
                                La canción "Chihiro" de Billie Eilish es una canción melancólica y emotiva sobre una relación que se está desmoronando y sobre la sensación de perderse a sí mismo en el proceso de duelo. La canción toma su nombre de la protagonista de la película de anime "El viaje de Chihiro" de Studio Ghibli, una película que Billie ha citado como una de sus favoritas.                            
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BIRDS OF A FEATHER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BIRDS OF A FEATHER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=V9PVRfjEBTI"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar4" class="mostrar">Significado</a>
                            <div id="meaning4" class="meaning" style="display: none;">
                                "Birds of a Feather" de Billie Eilish es una canción sobre el amor y la pérdida. La letra describe una relación que está llegando a su fin y la cantante intenta aferrarse a los últimos momentos de felicidad. El título "Birds of a Feather" es una metáfora de dos personas que están destinadas a estar juntas.
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>WILDFLOWER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/WILDFLOWER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=l08Zw-RY__Q"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar5" class="mostrar">Significado</a>
                            <div id="meaning5" class="meaning" style="display: none;">
                                "Wildflower" es una canción que habla sobre la inseguridad en las relaciones, la comparación constante con los demás y la lucha por encontrar la propia identidad. La canción invita a la reflexión sobre cómo nos percibimos a nosotros mismos en relación con los demás y cómo esto puede afectar nuestras relaciones. (Es mi favorita)                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>THE GREATEST</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/THE GREATEST - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=WkdQhfDRBKs"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar6" class="mostrar">Significado</a>
                            <div id="meaning6" class="meaning" style="display: none;">
                                "The Greatest" es una canción melancólica y reflexiva sobre el arrepentimiento, la pérdida y la búsqueda de significado después de una relación fallida. Billie Eilish  expresa su arrepentimiento por no haber sido "la mejor" para esa persona y explora la complejidad de las emociones humanas y la dificultad de dejar ir el pasado.
                            </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>L' AMOUR DE LA VIE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/L’AMOUR DE MA VIE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=am5FI9DkO80"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar7" class="mostrar">Significado</a>
                            <div id="meaning7" class="meaning" style="display: none;">
                                "L'amour de ma vie" es una canción de reflexión sobre una relación pasada que tuvo un impacto significativo en su vida. La canción explora temas de amor, pérdida y arrepentimiento, y la frase "el amor de mi vida" puede representar a una persona que fue muy importante para ella, pero con quien la relación no funcionó.
                            </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>THE DINER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/THE DINER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=gDVw1l6QDOg"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar8" class="mostrar">Significado</a>
                            <div id="meaning8" class="meaning" style="display: none;">
                                "The Diner" es una canción introspectiva y evocadora que explora temas de soledad, arrepentimiento y reflexión en un ambiente nocturno y melancólico. La letra deja espacio para la interpretación personal, lo que permite que cada oyente se conecte con la canción de manera única.
                            </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BITTERSUITE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BITTERSUITE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=LmVw3u3SxoA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar9" class="mostrar">Significado</a>
                            <div id="meaning9" class="meaning" style="display: none;">
                                "Bittersuite" es una canción que explora la complejidad de las relaciones amorosas, donde los sentimientos de amor y dolor se entrelazan. La canción invita a la reflexión sobre la naturaleza agridulce del amor y la dificultad de dejar ir una relación que ya no nos hace bien.
                            </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BLUE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BLUE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=LmVw3u3SxoA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar10" class="mostrar">Significado</a>
                            <div id="meaning10" class="meaning" style="display: none;">
                                "Blue" es una canción introspectiva y emotiva que explora la complejidad de las relaciones y el proceso de superar un desamor. La letra nos invita a reflexionar sobre nuestros propios sentimientos y experiencias, y nos recuerda que el camino hacia la sanación y el crecimiento personal puede ser doloroso pero también transformador.
                            </div>
                        </div>
                </li>
            </div>
        </ul>
    </main>
    <footer>
        <p class="derechos">All copyrights reserved. &copy 2025 <a target="_blank" href="https://github.com/Alejo-42"><i class="fa-brands fa-github"></i> Alejo-42 GitHub</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/components/hmhas/script.js"></script>
</body>

</html>