<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/hmhas/style.css">
    <link rel="shortcut icon" href="/assets/HIT ME HARD AND SOFT/img/hmhas icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>HIT ME HARD AND SOFT</title>
</head>

<body>
    <header>
        <h1>HIT ME HARD AND SOFT</h1>
    </header>
    <main>
        <ul>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>SKINNY</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/SKINNY - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=g6YSdMnCOCU"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar1" class="mostrar">Meaning</a>
                            <div id="meaning1" class="meaning" style="display: none;">
                                <p>"Skinny" is a song about body dysmorphia and the pressure of beauty standards. Billie Eilish talks about how she feels about her body and how others see her. The song is also about fame and how it can affect mental health, it is a song about the importance of self-acceptance. Billie Eilish reminds us that we are all different and that we should love ourselves just the way we are.</p>                            
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>LUNCH</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/LUNCH - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=MB3VkzPdgLA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar2" class="mostrar">Meaning</a>
                            <div id="meaning2" class="meaning" style="display: none;">
                                <p>"Lunch" is a song about desire and attraction, using culinary metaphors to express the intensity of these feelings. Billie Eilish sings about a person she is so attracted to that she feels like she "could eat them." The song explores the carnal and often obsessive nature of desire, using vivid and sensual imagery.</p>
                            </div>
                        </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>CHIHIRO</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/CHIHIRO - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=BY_XwvKogC8"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar3" class="mostrar">Meaning</a>
                            <div id="meaning3" class="meaning" style="display: none;">
                                <p>The song "Chihiro" by Billie Eilish is a melancholic and emotional song about a relationship that is falling apart and the feeling of losing yourself in the grieving process. The song takes its name from the protagonist of the anime film "Spirited Away" by Studio Ghibli, a film that Billie has cited as one of her favorites.</p>                            
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BIRDS OF A FEATHER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BIRDS OF A FEATHER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=V9PVRfjEBTI"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar4" class="mostrar">Meaning</a>
                            <div id="meaning4" class="meaning" style="display: none;">
                                <p>"Birds of a Feather" by Billie Eilish is a song about love and loss. The lyrics describe a relationship that is coming to an end and the singer tries to hold on to the last moments of happiness. The title "Birds of a Feather" is a metaphor for two people who are destined to be together.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>WILDFLOWER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/WILDFLOWER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=l08Zw-RY__Q"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar5" class="mostrar">Meaning</a>
                            <div id="meaning5" class="meaning" style="display: none;">
                                <p>"Wildflower" is a song that talks about insecurity in relationships, constant comparison with others and the struggle to find one's own identity. The song invites reflection on how we perceive ourselves in relation to others and how this can affect our relationships. (It's my favorite song)</p>    
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>THE GREATEST</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/THE GREATEST - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=WkdQhfDRBKs"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar6" class="mostrar">Meaning</a>
                            <div id="meaning6" class="meaning" style="display: none;">
                                <p>"The Greatest" is a melancholic, reflective song about regret, loss, and the search for meaning after a failed relationship. Billie Eilish expresses her regret for not being "the best" for that person and explores the complexity of human emotions and the difficulty of letting go of the past.</p>
                            </div>
                        </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>L' AMOUR DE LA VIE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/L’AMOUR DE MA VIE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=am5FI9DkO80"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar7" class="mostrar">Meaning</a>
                            <div id="meaning7" class="meaning" style="display: none;">
                                <p>"L'amour de ma vie" is a song of reflection on a past relationship that had a significant impact on her life. The song explores themes of love, loss and regret, and the phrase "the love of my life" may represent a person who was very important to her, but with whom the relationship did not work out.</p>
                            </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>THE DINER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/THE DINER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=gDVw1l6QDOg"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar8" class="mostrar">Meaning</a>
                            <div id="meaning8" class="meaning" style="display: none;">
                                <p>"The Diner" is an introspective and evocative song that explores themes of loneliness, regret and reflection in a nocturnal and melancholic setting. The lyrics leave room for personal interpretation, allowing each listener to connect with the song in a unique way.</p>
                            </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BITTERSUITE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BITTERSUITE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=LmVw3u3SxoA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar9" class="mostrar">Meaning</a>
                            <div id="meaning9" class="meaning" style="display: none;">
                                <p>"Bittersuite" is a song that explores the complexity of romantic relationships, where feelings of love and pain become intertwined. The song invites reflection on the bittersweet nature of love and the difficulty of letting go of a relationship that is no longer good for us.</p>
                            </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BLUE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BLUE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=LmVw3u3SxoA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar10" class="mostrar">Meaning</a>
                            <div id="meaning10" class="meaning" style="display: none;">
                                <p>"Blue" is an introspective and emotional song that explores the complexity of relationships and the process of overcoming heartbreak. The lyrics invite us to reflect on our own feelings and experiences, and remind us that the path to healing and personal growth can be painful but also transformative.</p>
                            </div>
                        </div>
                </li>
            </div>
        </ul>
    </main>
    <footer>
        <p class="derechos">All copyrights reserved. &copy 2025 <a target="_blank" href="https://github.com/Alejo-42"><i class="fa-brands fa-github"></i> Alejo-42 GitHub</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/components/hmhas/script.js"></script>
</body>

</html>