<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/HIT ME HARD AND SOFT/img/hmhas icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="/components/hmhas/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>HIT ME HARD AND SOFT</title>
</head>
<body>
    <header>
        <h1>HIT ME HARD AND SOFT</h1>
    </header>
    <main>
        <ul>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>SKINNY</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/SKINNY - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href=""><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>LUNCH</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/LUNCH - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=MB3VkzPdgLA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>CHIHIRO</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/CHIHIRO - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=BY_XwvKogC8"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BIRDS OF A FEATHER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BIRDS OF A FEATHER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=V9PVRfjEBTI"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>WILDFLOWER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/WILDFLOWER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=l08Zw-RY__Q"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>THE GREATEST</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/THE GREATEST - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=WkdQhfDRBKs"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>L' AMOUR DE LA VIE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/L’AMOUR DE MA VIE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=am5FI9DkO80"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>THE DINER</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/THE DINER - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=gDVw1l6QDOg"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BITTERSUITE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BITTERSUITE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=LmVw3u3SxoA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HIT ME HARD AND SOFT/img/hmhas album cover.jpg" alt="HMHAS Icono">
                        </div>
                        <div class="nombre">
                            <h3>BLUE</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v">
                        <div class="audio">
                            <audio controls src="/assets/HIT ME HARD AND SOFT/song/BLUE - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a title="Oficial Musical Video" href="https://www.youtube.com/watch?v=LmVw3u3SxoA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </main>
    <footer>
        <p class="derechos">All copyrights reserved. &copy 2025 <a target="_blank" href="https://github.com/Alejo-42"><i class="fa-brands fa-github"></i>  Alejo-42 GitHub</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>