<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/hte/style.css">
    <link rel="shortcut icon" href="/assets/HAPPIER THAN EVER/img/hte icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>HAPPIER THAN EVER</title>
</head>
<body>
    <header>
        <h1>HAPPIER THAN EVER</h1>
    </header>
    <main>
        <ul>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Getting Older</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Getting Older - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=7AS9r_E0PY4"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar1" class="mostrar">Significado</a>
                            <div id="meaning1" class="meaning" style="display: none;">
                                <p>"Getting Older" es una canción honesta y vulnerable en la que Billie Eilish comparte sus reflexiones sobre el envejecimiento y los cambios que conlleva. La canción invita a la reflexión sobre cómo nos enfrentamos al paso del tiempo y cómo podemos seguir creciendo y aprendiendo a lo largo de nuestra vida.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>I Didn't Change My Number</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/I Didn_t Change My Number - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=FP-IopSHomc"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar2" class="mostrar">Significado</a>
                            <div id="meaning2" class="meaning" style="display: none;">
                                <p>"I Didn't Change My Number" es una canción que habla sobre el desamor, la obsesión y la dificultad de dejar ir una relación pasada. La letra nos muestra la vulnerabilidad de una persona que, a pesar de haber terminado una relación, sigue manteniendo una conexión con su expareja a través de su número de teléfono.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Billie Bossa Nova</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Billie Bossa Nova - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=4tZ969oc-yI"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar3" class="mostrar">Significado</a>
                            <div id="meaning3" class="meaning" style="display: none;">
                                <p>"Billie Bossa Nova" es una canción que explora la emoción y el riesgo de un romance secreto. La letra nos transporta a un mundo de deseo y pasión, donde Billie se entrega a un amorío que debe mantenerse oculto. La canción es una celebración de la intimidad y la conexión, y nos invita a reflexionar sobre la naturaleza secreta y apasionada del amor.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>my future</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/my future - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=Dm9Zf1WYQ_A"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar4" class="mostrar">Significado</a>
                            <div id="meaning4" class="meaning" style="display: none;">
                                <p>"My Future" es una canción sobre el amor propio, el crecimiento personal y la esperanza en el futuro. Billie Eilish nos invita a reflexionar sobre nuestras propias vidas y a enfocarnos en construir un futuro mejor para nosotros mismos.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Oxytocin</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Oxytocin - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=Fcd8UbutjIg"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar5" class="mostrar">Significado</a>
                            <div id="meaning5" class="meaning" style="display: none;">
                                <p>"Oxytocin" es una canción que explora la intensidad y la naturaleza adictiva del amor y la intimidad física. La letra utiliza la metáfora de la oxitocina para describir la sensación de euforia y dependencia que se experimenta en una relación. La canción también toca temas como la vulnerabilidad y el miedo a perder a la persona amada.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>GOLDWING</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/GOLDWING - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=JpL7scu-EmY"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar6" class="mostrar">Significado</a>
                            <div id="meaning6" class="meaning" style="display: none;">
                                <p>"Goldwing" es una canción que explora temas de inocencia, vulnerabilidad y la necesidad de protección. La letra nos presenta a un ser angelical que necesita ser resguardado del mundo exterior, y puede interpretarse como una metáfora de la fama y la presión de estar constantemente bajo el escrutinio público. La canción es una invitación a reflexionar sobre la importancia de proteger nuestra inocencia y vulnerabilidad en un mundo que a menudo puede ser difícil.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Lost Cause</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Lost Cause - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=S2dRcipMCpw"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar7" class="mostrar">Significado</a>
                            <div id="meaning7" class="meaning" style="display: none;">
                                <p>"Lost Cause" es una canción sobre una relación fallida en la que Billie Eilish se da cuenta de que su pareja no está invirtiendo el mismo esfuerzo y compromiso que ella. La canción es un himno al amor propio y a la importancia de no conformarse con menos de lo que merecemos.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Halley's Comet</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Halley_s Comet - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=geUYm3f6ZA4"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar8" class="mostrar">Significado</a>
                            <div id="meaning8" class="meaning" style="display: none;">
                                <p>"Halley's Comet" es una canción sobre la complejidad del amor y la idealización. Billie Eilish nos invita a reflexionar sobre nuestros propios sentimientos y miedos en el amor, y nos recuerda que a veces vale la pena arriesgarse a pesar de la incertidumbre.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Not My Responsability</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Not My Responsibility - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=ZlvfYmfefSI"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar9" class="mostrar">Significado</a>
                            <div id="meaning9" class="meaning" style="display: none;">
                                <p>"Not My Responsibility" es una canción poderosa y emotiva en la que Billie Eilish alza su voz contra la vergüenza corporal y la objetivación de las mujeres. La canción es un llamado a la autoaceptación y al amor propio, y un recordatorio de que nadie tiene derecho a juzgar o criticar el cuerpo de otra persona.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>OverHeated</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/OverHeated - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=vg6V2UWSjiM"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar10" class="mostrar">Significado</a>
                            <div id="meaning10" class="meaning" style="display: none;">
                                <p>"Overheated" es una canción sobre la ansiedad, la presión social y la lucha por mantener la autenticidad en un mundo que constantemente juzga y critica. La canción es un llamado a la autoaceptación y al amor propio, y un recordatorio de que nadie tiene derecho a juzgar o criticar a los demás.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Everybody Dies</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Everybody Dies - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=FpeZsTo5hZw"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar11" class="mostrar">Significado</a>
                            <div id="meaning11" class="meaning" style="display: none;">
                                <p>"Everybody Dies" es una canción que nos invita a reflexionar sobre la mortalidad y cómo esta realidad puede influir en nuestra forma de vivir. La canción nos recuerda que la vida es un regalo y que debemos aprovechar cada momento, ya que la muerte es una parte natural del ciclo de la vida.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Your Power</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Your Power - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=fzeWc3zh01g"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar12" class="mostrar">Significado</a>
                            <div id="meaning12" class="meaning" style="display: none;">
                                <p>"Your Power" es una canción valiente y necesaria que aborda temas de abuso de poder, manipulación y la importancia de establecer límites claros en las relaciones. La canción es un llamado a la reflexión y a la acción, y un recordatorio de que nadie tiene derecho a abusar de su poder sobre los demás.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>NDA</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/NDA - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=OORBa32WFcM"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar13" class="mostrar">Significado</a>
                            <div id="meaning13" class="meaning" style="display: none;">
                                <p>"NDA" es una canción sobre los desafíos de mantener una relación en secreto y la necesidad de proteger la privacidad y la seguridad en un mundo donde la vida de las celebridades está constantemente bajo el escrutinio público. La canción es un reflejo de las dificultades que Billie Eilish ha enfrentado en su vida personal debido a su fama y cómo esto ha afectado sus relaciones.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Therefore I Am</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Therefore I am - Billie Eilish .mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=RUQl6YcMalg"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar14" class="mostrar">Significado</a>
                            <div id="meaning14" class="meaning" style="display: none;">
                                <p>"Therefore I Am" es una canción poderosa y desafiante en la que Billie Eilish alza su voz contra el juicio y la atención no deseada. La canción es un himno a la independencia y la autoafirmación, y un recordatorio de que cada persona tiene derecho a ser ella misma sin importar lo que piensen los demás.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Happier Than Ever</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Happier Than Ever - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=5GJWxDKyk3A"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar15" class="mostrar">Significado</a>
                            <div id="meaning15" class="meaning" style="display: none;">
                                <p>"Happier Than Ever" es una canción sobre el empoderamiento, la autoafirmación y la importancia de alejarse de relaciones tóxicas. Billie Eilish nos invita a reflexionar sobre nuestras propias relaciones y a priorizar nuestro bienestar emocional. La canción es un recordatorio de que merecemos ser felices y que no debemos conformarnos con menos de lo que merecemos.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/HAPPIER THAN EVER/img/hte album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>Male Fantasy</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/HAPPIER THAN EVER/song/Male Fantasy - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=G_BhUxx-cwk"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar16" class="mostrar">Significado</a>
                            <div id="meaning16" class="meaning" style="display: none;">
                                <p>"Male Fantasy" es una canción que critica la idealización y las expectativas poco realistas en las relaciones románticas, especialmente desde una perspectiva femenina. Billie Eilish nos invita a reflexionar sobre cómo la cultura popular y los medios de comunicación perpetúan fantasías masculinas que pueden ser perjudiciales y decepcionantes en la vida real. La canción es un llamado a la autenticidad y a la aceptación de uno mismo, más allá de las expectativas impuestas por la sociedad.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </main>
    <footer>
        <p class="derechos">All copyrights reserved. &copy 2025 <a target="_blank" href="https://github.com/Alejo-42"><i class="fa-brands fa-github"></i> Alejo-42 GitHub</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/components/hte/script.js"></script>
</body>
</html>