*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    padding: 1%;
    h1{
        color:green;
        text-shadow: 7px 7px 15px black;
        -webkit-text-stroke: 0.3vw black;
        text-align: center;
        font-size: 8vw;
    }    
}
main{
    ul{
        display: flex;
        flex-direction: column;
        section{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            li{
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 10px;
                margin: 10px;
                border-radius: 20px;
                .nya{
                    padding: 2%;
                    .album{
                        margin: 2%;
                        padding: 2%;
                        img{
                            padding: 1%;
                            height: 20vh;
                        }
                    }
                    .nombre{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        h3{
                            color: white;
                            -webkit-text-stroke: 1px black;
                            font-size: 2rem;
                            margin: 1%;
                            padding: 1%;
                            text-align: center;
                        }
                        p{
                            margin: 3%;
                            padding: 1%;
                            font-size: 1.5rem;
                            text-align: center;
                        }
                    }
                }
                .audio{
                    width: 100%;
                    audio{
                        width: 100%;
                    }
                }
                .video{
                    display: flex;
                    justify-content: center;
                    a{
                        font-size: 5vw;
                        color: black;
                        transition: all 0.5s;
                        padding: 1%;
                        margin: 0;
                        text-align: center;
                    } 
                    a:hover{
                        color: white;
                    }
                }           
            }
            .wwimf{
                background-color: rgb(150, 218, 25, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  rgb(150, 218, 25);
                    }
                }
            }
            .nttd{
                background-color: rgba(128, 128, 128, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  gray;
                    }
                }
            }
            .bored{
                background-color: rgb(226, 230, 173, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  rgb(226, 230, 173);
                    }
                }

            }
            .TV, .the30{
                background-color:rgba(255, 192, 203, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  pink;
                    }
                }
            }
            .eiw{
                background-color:rgba(233, 150, 122, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  darksalmon;
                    }
                }
            }
            .guess{
                background-color:rgba(105, 105, 105, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  dimgray;
                    }
                }
            }
            .lovely{
                background-color: rgba(245, 222, 179, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  wheat;
                    }
                }
            }
            .lvao{
                background-color:rgb(54, 47, 79, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  rgb(54, 47, 79);
                    }
                }
            }
            .coap{
                background-color: rgb(64, 5, 131, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  rgb(64, 5, 131);
                    }
                }
            }
            .hotline{
                background-color: rgba(210, 105, 30, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  chocolate;
                    }
                }
            }
            .bbh{
                background-color:rgba(220, 20, 60, 0.8);
                .video{
                    a{
                        color: white;
                    }
                    a:hover{
                        -webkit-text-stroke: 1px white;
                        color:  crimson;
                    }
                }
            }
        }    
    }
}
body{
    margin: 0;
    min-height: 100vh;
    background-image: url(/assets/FONDOS/another\ songs\ fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.derechos{
    margin: 0;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;  
    font-size: small;  
}    
@media (max-width:950px) {
    main{
        ul{
            section{
                display: flex;
                flex-direction: column;
                align-items: center;
                li{
                    width: 50%;
                    .nya{
                        .album{
                            img{
                                width: 15vw;
                            }
                        }
                    }
                }
            }
        }
    }
}