<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/another songs/style.css">
    <link rel="shortcut icon" href="/assets/ANOTHER SONGS/img/another songs icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>ANOTHER SONGS</title>
</head>
<body>
    <header>
        <h1>ANOTHER SONGS</h1>
    </header>
    <main>
        <ul>
            <div>
                <li class="guess">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/guess album cover.jpg" alt="Guess Icono">
                        </div>
                        <div class="nombre">
                            <h3>Guess featuring billie eilish</h3>
                            <p>Charlie XCX ft. Billie Eilish (2024)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/Guess featuring billie eilish - Charli xcx.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=huGd4efgdPA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar1" class="mostrar">Meaning</a>
                            <div id="meaning1" class="meaning" style="display: none;">
                                <p>"Guess" is a celebration of female sexuality and the exploration of desires. The lyrics invite the listener to play with fantasies and enjoy sensuality. Underwear becomes a symbol of provocation and desire, and the song itself is an invitation to experiment and not be afraid to express one's sexuality.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wwimf">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/wwimf album cover.jpg" alt="WWIMF Icono">
                        </div>
                        <div class="nombre">
                            <h3>What Was I Made For?</h3>
                            <p>Billie Eilish (2023)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/What Was I Made For   From The Motion Picture  Barbie   - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=cW8VLC9nnTo"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar2" class="mostrar">Meaning</a>
                            <div id="meaning2" class="meaning" style="display: none;">
                                <p>"What Was I Made For?" is a song that connects with many listeners as it addresses universal themes such as identity, the search for purpose, and the desire for happiness. The honesty and vulnerability of the lyrics make it easy to identify with the feelings expressed by Billie Eilish. Additionally, the song has been very well received by critics and the public, further cementing Billie's talent as a songwriter.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="the30">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/guitar songs album cover.jpg" alt="The 30th Icono">
                        </div>
                        <div class="nombre">
                            <h3>The 30th</h3>
                            <p>Billie Eilish (2022)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/The 30th - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=onT3z0lCZz8"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar3" class="mostrar">Meaning</a>
                            <div id="meaning3" class="meaning" style="display: none;">
                                <p>"The 30th" is a powerful and moving song that invites us to reflect on life, death and the importance of human relationships. Billie Eilish uses her music to express deep emotions and connect with her audience on a very personal level.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li class="tv">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/guitar songs album cover.jpg" alt="TV">
                        </div>
                        <div class="nombre">
                            <h3>TV</h3>
                            <p>Billie Eilish (2022)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/TV - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=_JGGLJMpVks"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar4" class="mostrar">Meaning</a>
                            <div id="meaning4" class="meaning" style="display: none;">
                                <p>"TV" is an introspective and melancholic song that explores feelings of loneliness, loss and the desire to escape reality. Billie Eilish uses the metaphor of television to represent the search for connection and a sense of belonging in a world that often seems cold and distant.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="hotline">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/hotline album cover.jpg" alt="hotline Icono">
                        </div>
                        <div class="nombre">
                            <h3>hotline</h3>
                            <p>Billie Eilish (2021)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/hotline (edit) - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=VpEITQDQRec"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar5" class="mostrar">Meaning</a>
                            <div id="meaning5" class="meaning" style="display: none;">
                                <p>"Hotline" is an emotional and melancholic song that explores the feelings of longing and loss we often experience after a breakup. Through the metaphor of the phone call, Billie Eilish captures the essence of that longing to reconnect with someone who is no longer in our lives.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="lvao">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/lvao album cover.jpg" alt="Lo Vas A Olvidar Icono">
                        </div>
                        <div class="nombre">
                            <h3>Lo Vas A Olvidar</h3>
                            <p>Billie Eilish ft. LA ROSALIA (2021)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/Lo Vas A Olvidar - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=8TsWkuWWXgc"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar6" class="mostrar">Meaning</a>
                            <div id="meaning6" class="meaning" style="display: none;">
                                <p>"Lo vas a Olvidar" is a powerful and emotional song that explores the universal feelings that arise after a breakup. The collaboration between Billie Eilish and Rosalía creates a unique and memorable piece that connects with the audience on an emotional level.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li class="nttd">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/nttd album cover.jpg" alt="No Time To Die Icono">
                        </div>
                        <div class="nombre">
                            <h3>No Time To Die</h3>
                            <p>Billie Eilish (2020)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/No Time To Die - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=BboMpayJomw"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar7" class="mostrar">Meaning</a>
                            <div id="meaning7" class="meaning" style="display: none;">
                                <p>"No Time to Die" is a powerful and emotional song that goes beyond just being a movie soundtrack. It is an exploration of deep and universal themes that invites us to reflect on life, death and the nature of human relationships.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="eiw">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/eiw album cover.jpg" alt="everything i wanted Icono">
                        </div>
                        <div class="nombre">
                            <h3>everything i wanted</h3>
                            <p>Billie Eilish (2019)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/everything i wanted - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=EgBJmlPo8Xw"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar8" class="mostrar">Meaning</a>
                            <div id="meaning8" class="meaning" style="display: none;">
                                <p>"Everything I Wanted" is a powerful and moving song that invites us to reflect on the costs of success and the importance of mental health. Billie Eilish uses her music to express her own struggles and connect with her fans on a very personal level.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="bbh">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/bbh album cover.jpg" alt="bitches broken hearts Icono">
                        </div>
                        <div class="nombre">
                            <h3>bitches broken hearts</h3>
                            <p>Billie Eilish (2019)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/bitches broken hearts - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=qpQSjf-0Lc8"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar9" class="mostrar">Meaning</a>
                            <div id="meaning9" class="meaning" style="display: none;">
                                <p>“Bitches Broken Hearts” is a powerful and empowering song that celebrates the strength and resilience of women. Billie Eilish uses music to express her own experiences and to connect with her fans who have been through similar situations.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li class="coap">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/coap album cover.jpg" alt="come out and play Icono">
                        </div>
                        <div class="nombre">
                            <h3>come out and play</h3>
                            <p>Billie Eilish (2018)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/come out and play - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=xXFdnHiGwos"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar10" class="mostrar">Meaning</a>
                            <div id="meaning10" class="meaning" style="display: none;">
                                <p>"Come Out and Play" is a song that celebrates authenticity and human connection. Billie Eilish invites us to be more vulnerable and open to others. The song is a reminder that it is important to be ourselves and not be afraid to show our true feelings.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="lovely">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/lovely album cover.jpg" alt="lovely Icono">
                        </div>
                        <div class="nombre">
                            <h3>lovely</h3>
                            <p>Billie Eilish ft. Khalid (2018)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/lovely - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=V1Pl8CzNzCw"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar11" class="mostrar">Meaning</a>
                            <div id="meaning11" class="meaning" style="display: none;">
                                <p>"lovely" is a song that invites us to reflect on loneliness and depression. Billie Eilish and Khalid create a melancholic and moving atmosphere that connects with those who have experienced similar feelings.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="bored">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/bored album cover.jpg" alt="Bored Icono">
                        </div>
                        <div class="nombre">
                            <h3>Bored</h3>
                            <p>Billie Eilish (2017)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/Bored - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=cnGW8NR-toE"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar12" class="mostrar">Meaning</a>
                            <div id="meaning12" class="meaning" style="display: none;">
                                <p>"Bored" is a song about the importance of prioritizing your own happiness and not staying in a relationship that is not good for you. Billie Eilish shows us that it's okay to say goodbye to what's no longer working and look for something better.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li class="sfu">
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/ANOTHER SONGS/img/sfu album cover.jpg" alt="Six Feet Under Icono">
                        </div>
                        <div class="nombre">
                            <h3>Six Feet Under</h3>
                            <p>Billie Eilish (2016)</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/ANOTHER SONGS/song/Six Feet Under - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=FQ0iq10ULNA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar13" class="mostrar">Meaning</a>
                            <div id="meaning13" class="meaning" style="display: none;">
                                <p>"Six Feet Under" is a complex and multifaceted song that can be interpreted in different ways. The exact meaning of the song will depend on each listener's perspective and their own personal experience. What is clear is that the song explores dark and deep themes, such as death, revenge and transformation.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </main>
    <footer>
        <p class="derechos">All copyrights reserved. &copy 2025 <a target="_blank" href="https://github.com/Alejo-42"><i class="fa-brands fa-github"></i> Alejo-42 GitHub</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/components/another songs/script.js"></script>
</body>
</html>