<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/wwafawdwg/style.css">
    <link rel="shortcut icon" href="/assets/WWAFAWDWG/img/wwafawdwg icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>WHEN WE ALL FALL ASLEEP, WHERE DO WE GO?</title>
</head>
<body>
    <header>
        <h1>WHEN WE ALL FALL ASLEEP, WHERE DO WE GO?</h1>
    </header>
    <main>
        <ul>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>bad guy</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/bad guy - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=DyDfgMOUjCI"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar1" class="mostrar">Significado</a>
                            <div id="meaning1" class="meaning" style="display: none;">
                                <p>"Bad Guy" es una canción que explora la atracción hacia lo prohibido y lo diferente, así como la complejidad de la identidad y los roles de género. Billie Eilish nos invita a cuestionar nuestras propias expectativas y deseos, y a reconocer que todos tenemos un lado oscuro y rebelde.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>xanny</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/xanny - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=LZyybvVx-js"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar2" class="mostrar">Significado</a>
                            <div id="meaning2" class="meaning" style="display: none;">
                                <p>"xanny" es una canción que critica el consumo de drogas y la presión social para encajar. Billie Eilish nos invita a reflexionar sobre nuestros propios valores y decisiones, y nos anima a ser auténticos y a no ceder ante la presión de los demás. La canción es un llamado a la autoaceptación y a la búsqueda de la felicidad en uno mismo, en lugar de buscarla en sustancias externas.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>you should see me in a crown</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/you should see me in a crown - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=Ah0Ys50CqO8"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar3" class="mostrar">Significado</a>
                            <div id="meaning3" class="meaning" style="display: none;">
                                <p>"you should see me in a crown" es una canción poderosa y desafiante en la que Billie Eilish muestra su lado más seguro y dominante. La canción es un himno a la individualidad, la autoafirmación y el poder femenino. Billie nos invita a reconocer nuestro propio poder y a no tener miedo de mostrar nuestra verdadera esencia al mundo.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>all the good girls go to hell</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/all the good girls go to hell - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=-PZsSWwc9xA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar4" class="mostrar">Significado</a>
                            <div id="meaning4" class="meaning" style="display: none;">
                                <p>"all the good girls go to hell" es una canción provocativa y llena de simbolismo que invita a la reflexión sobre la naturaleza humana, la moralidad, la rebeldía y la hipocresía social.  La canción no ofrece respuestas fáciles, sino que plantea preguntas y desafía al oyente a cuestionar sus propias creencias y valores.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>wish you were gay</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/wish you were gay - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=yaJx0Gj_LCY"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar5" class="mostrar">Significado</a>
                            <div id="meaning5" class="meaning" style="display: none;">
                                <p> "wish you were gay" de Billie Eilish explora el tema del amor no correspondido y el rechazo, desde una perspectiva muy particular y honesta. Es una canción honesta y vulnerable sobre el rechazo y la necesidad de encontrar explicaciones. No es una canción homófoba, sino una expresión de frustración y una forma de proteger el ego ante el dolor del amor no correspondido.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>when the party's over</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/when the party_s over - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=pbMwTqkKSps"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar6" class="mostrar">Significado</a>
                            <div id="meaning6" class="meaning" style="display: none;">
                                <p>"when the party's over" es una canción sobre el desamor, la pérdida y la dificultad de dejar ir. Billie Eilish nos invita a reflexionar sobre nuestras propias relaciones y cómo nos enfrentamos al final de un ciclo. La canción es un recordatorio de que el dolor es parte del proceso de amar y que a veces es necesario dejar ir para poder seguir adelante.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>8</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/8 - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=OZYd9JxithE"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar7" class="mostrar">Significado</a>
                            <div id="meaning7" class="meaning" style="display: none;">
                                <p>"8" es una canción sobre la inseguridad, la invisibilidad y el amor no correspondido. Billie Eilish nos invita a reflexionar sobre nuestras propias relaciones y cómo nos sentimos en ellas. La canción es un recordatorio de que merecemos ser vistos, valorados y amados por quienes somos realmente.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>my strange addiction</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/my strange addiction - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=k1ATPhkVWi0"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar8" class="mostrar">Significado</a>
                            <div id="meaning8" class="meaning" style="display: none;">
                                <p>"my strange addiction" es una canción sobre el amor obsesivo y la dependencia emocional. Billie Eilish nos invita a reflexionar sobre nuestras propias relaciones y cómo nos sentimos en ellas. La canción es un recordatorio de que el amor puede ser una fuerza poderosa y a veces destructiva, y que es importante reconocer cuando una relación se vuelve adictiva y poco saludable.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>bury a friend</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/bury a friend - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=HUHC9tYz8ik"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar9" class="mostrar">Significado</a>
                            <div id="meaning9" class="meaning" style="display: none;">
                                <p>"bury a friend" es una canción sobre la lucha interna, los miedos y la oscuridad que pueden habitar en nuestra mente. Billie Eilish nos invita a reflexionar sobre nuestros propios demonios y cómo nos enfrentamos a ellos. La canción es un recordatorio de que todos tenemos un lado oscuro y que la salud mental es un tema importante que no debe ser ignorado.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>ilomilo</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/ilomilo - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=-e7wiyNO2us"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar10" class="mostrar">Significado</a>
                            <div id="meaning10" class="meaning" style="display: none;">
                                <p>"ilomilo" es una canción sobre la soledad, el miedo a la pérdida y el deseo de reconectar con alguien importante. Billie Eilish nos invita a reflexionar sobre nuestras propias relaciones y cómo nos enfrentamos a la ausencia de aquellos a quienes amamos. La canción es un recordatorio de que el amor y la conexión humana son fundamentales para nuestro bienestar emocional.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>listen before i go</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/listen before i go - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=P4z1O3miesI"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar11" class="mostrar">Significado</a>
                            <div id="meaning11" class="meaning" style="display: none;">
                                <p>"listen before i go" es una canción sobre la desesperación, la soledad y los pensamientos suicidas. Billie Eilish nos invita a reflexionar sobre la importancia de escuchar y apoyar a quienes están sufriendo. La canción es un recordatorio de que la salud mental es un tema importante y que debemos estar atentos a las señales de alerta. Hay personas que se preocupan por ti y quieren ayudarte.</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>i love you</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/i love you - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=WiinVuzh4DA"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar12" class="mostrar">Significado</a>
                            <div id="meaning12" class="meaning" style="display: none;">
                                <p>"I love you" es una canción sobre la vulnerabilidad y la complejidad del amor. Billie Eilish nos invita a reflexionar sobre nuestras propias experiencias y cómo nos enfrentamos a la expresión de nuestros sentimientos. La canción es un recordatorio de que el amor puede ser emocionante y aterrador al mismo tiempo, y que a menudo requiere coraje y honestidad para ser expresado.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div>
                <li>
                    <div class="n-a">
                        <div class="album">
                            <img src="/assets/WWAFAWDWG/img/wwafawdwg album cover.jpg" alt="">
                        </div>
                        <div class="nombre">
                            <h3>goodbye</h3>
                            <p>Billie Eilish</p>
                        </div>
                    </div>
                    <div class="a-v-s">
                        <div class="audio">
                            <audio controls src="/assets/WWAFAWDWG/song/goodbye - Billie Eilish.mp3"></audio>
                        </div>
                        <div class="video">
                            <a target="_blank" title="Oficial Musical Video" href="https://www.youtube.com/watch?v=vciZvVJyNYU"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                        <div class="significado">
                            <a id="mostrar13" class="mostrar">Significado</a>
                            <div id="meaning13" class="meaning" style="display: none;">
                                <p>"goodbye" es una canción sobre la despedida, la pérdida y la dificultad de dejar ir. Billie Eilish nos invita a reflexionar sobre nuestras propias experiencias de despedida y cómo nos enfrentamos a ellas. La canción es un recordatorio de que decir adiós es una parte natural de la vida, aunque a menudo sea doloroso.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </main>
    <footer>
        <p class="derechos">All copyrights reserved. &copy 2025 <a target="_blank" href="https://github.com/Alejo-42"><i class="fa-brands fa-github"></i> Alejo-42 GitHub</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="/components/wwafawdwg/script.js"></script>
</body>
</html>